---
import fs from "node:fs";
import yaml from "js-yaml";

const fileContent = fs.readFileSync("src/data/providers.yml", "utf8");
const data = yaml.load(fileContent);
---

<div class="table table-fixed w-full text-sm relative">
  <div class="table-header-group z-10 bg-background sticky top-0">
    <div class="table-row">
      <div
        class="table-cell w-56 p-3 border-b border-divider border-r sticky left-0 bg-background"
      >
      </div>
      {
        data.providers.map((provider: any) => (
          <div class="table-cell align-bottom text-center px-0.5 py-1 border-b border-divider">
            <a
              href={provider.docs}
              class="text-foreground hover:text-link-foreground"
              target="_blank"
            >
              {provider.name}
            </a>
          </div>
        ))
      }
    </div>
  </div>
  <div class="table-row-group">
    {
      Object.keys(data.repoTypes).map((key: any) => {
        const repoType = data.repoTypes[key];

        return (
          <div class="table-row">
            <div class="table-cell p-2 font-semibold border-b border-divider border-r sticky left-0 bg-background">
              {repoType.name}
            </div>
            {data.providers.map((provider: any) => {
              return (
                <div class="table-cell text-center text-tick align-middle border-b border-divider">
                  {provider.supportedRepoTypes.includes(key) && (
                    <label title={`${provider.name} supports ${repoType.name}`}>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="size-5 mx-auto"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </label>
                  )}
                </div>
              );
            })}
          </div>
        );
      })
    }
  </div>
</div>
