---
import fs from "node:fs";
import yaml from "js-yaml";

const fileContent = fs.readFileSync("src/data/providers.yml", "utf8");
const data = yaml.load(fileContent);
---

<style>
  .matrix-table .table-row:hover > * {
    background-color: color-mix(in oklab, var(--foreground) 5%, var(--background));
  }
</style>

<div class="matrix-table table table-fixed w-full text-sm relative" style="min-width:1700px">
  <div class="table-header-group z-20 bg-background sticky top-0">
    <div class="table-row">
      <div
        class="table-cell w-56 p-3 border-b border-divider sticky left-0 z-30 border-r bg-background"
      >
      </div>
      {
        data.providers.map((provider: any) => (
          <div class="table-cell align-bottom text-balance text-center px-0.5 py-1 border-b border-divider">
            <a
              href={provider.docs}
              class="text-foreground tracking-tight hover:text-link-foreground"
              target="_blank"
            >
              {provider.name}
            </a>
          </div>
        ))
      }
    </div>
  </div>
  <div class="table-row-group">
    {
      Object.keys(data.repoTypes).map((key: any) => {
        const repoType = data.repoTypes[key];

        return (
          <div class="table-row">
            <div class="table-cell p-2 font-medium border-b border-divider border-r sticky left-0 bg-background z-10 isolate">
              {repoType.name}
            </div>
            {data.providers.map((provider: any) => {
              return (
                <div class="table-cell text-center text-tick align-middle border-b border-divider">
                  {provider.supportedRepoTypes.includes(key) && (
                    <label title={`${provider.name} supports ${repoType.name}`}>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.75"
                        stroke="currentColor"
                        class="size-5 mx-auto"
                      >
                        <path d="m4.5 12.75 6 6 9-13.5" />
                      </svg>
                    </label>
                  )}
                </div>
              );
            })}
          </div>
        );
      })
    }
  </div>
</div>
